body {
  display: block;
  padding: 1rem;
  margin: 0;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);

  background-color: white;
  color: black;

  overflow: hidden;
}

#app {
  text-align: unset;
  padding: 0;

  width: 100%;
  height: 100%;
}

.ion-padding {
  padding: 1rem 1rem;
}

.ion-flex {
  display: flex;
}

.ion-flex-column {
  flex-direction: column;
  height: 100%;
}

.ion-flex-row {
  flex-direction: row;
}
